<div class="container is-max-desktop px-3 py-5">

  <div class="content">

    <button class="button is-primary is-outlined" [routerLink]="'/home'">Zurück</button>

    <h1 style="color: rgb(147,195,49);">Bunte Wiese Magdeburg</h1>
    <h2>Beispiele für eine gelungene Gestaltung</h2>

    <p>An die Gestaltung und das Erscheinungsbild innerstädtischer Grünflächen werden traditionell vor allem ästhetische Maßstäbe angelegt. Sollen insektenfreundliche Grünflächen mitten in der Stadt erfolgreich realisiert werden, sollten die Flächen möglichst nicht Reaktionen wie: „Wie sieht das denn aus?!“ hervorrufen.</p>
    <p>Die folgenden Gestaltungsbeispiele zeigen, wie insektenfreundliche Grünflächen auf kleinem Raum angelegt werden können und wie eine ästhetisch ansprechende Gestaltung gelingen kann.</p>

    <h2>Weniger Mähen ist mehr</h2>

    <p>Das <a href="https://www.ufz.de/index.php?de=42189">Helmholtz-Zentrum für Umweltforschung GmbH - UFZ</a> zeigt an seinem Standort in Magdeburg, wie wir unserem Ökosystem direkt vor unseren Türen und Fenstern etwas Raum zurück geben können. Regelmäßiges Mähen findet hier nur auf den Randstreifen des Rasens statt. Dazwischen darf Wiese wachsen und blühen. Diese Wiesenstreifen sind zwar deutlich schmaler als einen Meter doch aufgrund der Länge kommt eine beträchtliche Fläche zusammen.</p>
    <p>Adresse: Brückstr. 3a, 39114 Magdeburg</p>
    <p>GPS-Koordinaten: 52.12835631131135, 11.65787468298944</p>
    <p><img src="/assets/images/Example-01-medium.png"></p>
    <p><img src="/assets/images/Example-02-medium.png"></p>

    <h2>Blühwiese repräsentativ</h2>

    <p>Im Ostseebad Baabe auf Rügen findet man zwei Blühwiesen mitten im Zentrum direkt neben dem Kurpark. Als blühende Inseln grenzen sie sich von der umgebenden Rasenfläche klar ab und fügen sich auf diese Weise optisch ansprechend in die Grünanlage ein. Hinweisschilder erklären den Gästen die Bedeutung der Flächen.</p>
    <p>Adresse: Am Kurpark 5, 18586 Baabe</p>
    <p>GPS-Koordinaten: 54.36217913253933, 13.71465542638564</p>
    <p><img src="/assets/images/Example-03-medium.png"></p>

    <h2>Natur im Vorgarten</h2>

    <p>Um eine Blühwiese anzulegen, sind keine großen Flächen erforderlich. Bereits der Vorgarten vor einem Mehrfamilienhaus kann ausreichen, um Lebensraum für Insekten zu schaffen. Das gezielte Nutzen vieler kleiner Flächen hilft insbesondere, um die Abstände zwischen zwei größeren Blühwiesen zu reduzieren. Dies kommt den Wildbienen entgegen, die meist nur einen Flugradius von wenigen 100 Metern haben.</p>
    <p>Adresse: Straße des Bergmanns 7, 01968 Senftenberg</p>
    <p>GPS-Koordinaten: 51.521413082018434, 13.98011636780593</p>
    <p><img src="/assets/images/Example-04-medium.png"></p>

    <h2>Staudenbeete – es muss nicht immer eine Wiese sein</h2>

    <p>Nicht überall lassen die ästhetischen Vorstellungen eine Wiese zu. Mit einer gezielt abgestimmten Pflanzenauswahl zum Beispiel aus einheimischen Blühstauden lassen sich insektenfreundliche Flächen an stark frequentierten Orten realisieren. Die Otto-von-Guericke-Universität Magdeburg hat auf drei Flächen das Nahrungsangebot für Wildbienen mit Nistmöglichkeiten kombiniert. Der offene Sandboden erleichtert erdbrütenden Wildbienen den Bau ihrer Nisthöhlen. Die Pflanzen sind auf den sonnigen, trockenen Standort abgestimmt und brauchen wenig Pflege.</p>
    <p>Die Auswahl der Pflanzen und das Anlegen der Flächen erfolgte durch <a href="https://floragarten-weinreich.de">Floragarten Weinreich</a>, Neue Straße 1, 39326 Wolmirstedt.</p>
    <p>Ortsbeschreibung: Hauptcampus der Otto-von-Guericke-Universität Magdeburg, Gebäude 06 und 07</p>
    <p>Adresse: Falkenbergstraße 10, 39106 Magdeburg</p>
    <p>GPS-Koordinaten: 52.13975114117571, 11.641185723754223</p>
    <p><img src="/assets/images/Example-05-medium.png"></p>
    <p>Als im November 2020 die beiden neuen Flächen angelegt werden, blüht die erste Fläche aus dem Vorjahr noch immer.</p>
    <p><img src="/assets/images/Example-06-medium.png"></p>

  </div>

</div>
