<div class="container is-max-desktop px-3 py-5">

  <div class="content">

    <button class="button is-primary is-outlined" [routerLink]="'/home'">Zurück</button>

    <h1>Was du wirklich wissen musst</h1>

    <h2>Kartierung</h2>
    <ul>
      <li><a href="http://eh-da-flaechen.de/index.php">http://eh-da-flaechen.de/index.php</a> </li>
      <li><a href="https://hortus-netzwerk.de">https://hortus-netzwerk.de</a></li>
      <li><a href="https://mundraub.org">https://mundraub.org</a></li>
    </ul>

    <h2>Lieferanten</h2>
    <h3>Saatgut</h3>
    <ul>
      <li><a href="https://www.natur-im-vww.de">https://www.natur-im-vww.de</a></li>
      <li><a href="https://www.rieger-hofmann.de/alles-ueber-rieger-hofmann.html">https://www.rieger-hofmann.de/alles-ueber-rieger-hofmann.html</a></li>
      <li><a href="https://www.saaten-zeller.de">https://www.saaten-zeller.de</a></li>
      <li><a href="https://wildackershop.de">https://wildackershop.de</a></li>
    </ul>
    <h3>Stauden</h3>
    <ul>
      <li><a href="https://floragarten-weinreich.de">https://floragarten-weinreich.de</a></li>
    </ul>

    <h2>Initiativen und Organisation in anderen Regionen</h2>
    <h3>Regionen-übergreifende</h3>
    <ul>
      <li><a href="https://www.deutschland-summt.de/home.html">https://www.deutschland-summt.de/home.html</a></li>
      <li><a href="https://www.beebetter.de">https://www.beebetter.de</a></li>
      <li><a href="https://bluehende-landschaft.de">https://bluehende-landschaft.de</a></li>
    </ul>
    <h3>Lokal</h3>
    <ul>
      <li><a href="https://www.bienenstadt-braunschweig.de">https://www.bienenstadt-braunschweig.de</a></li>
      <li><a href="https://buntewiesepotsdam.wordpress.com">https://buntewiesepotsdam.wordpress.com</a></li>
      <li><a href="https://www.buntewiese-stuttgart.de">https://www.buntewiese-stuttgart.de</a></li>
      <li><a href="https://www.buntewiese-tuebingen.de">https://www.buntewiese-tuebingen.de</a></li>
    </ul>
    <h3>NGOs</h3>
    <ul>
      <li><a href="https://www.stiftung-mensch-umwelt.de/home.html">https://www.stiftung-mensch-umwelt.de/home.html</a></li>
    </ul>

    <h2>Fachliteratur</h2>
    <ul>
      <li><a href="https://www.nul-online.de">https://www.nul-online.de</a></li>
      <li><a href="https://shop.bienenjournal.de">https://shop.bienenjournal.de</a></li>
      <li>Wildbienen - die anderen Bienen, Autor: Paul Westrich, ISBN: 978-3-89937-136-9</li>
      <li>Das Summen in der Wiese: Das geheime Leben der Insekten, Dave Goulson, ISBN 978-3548377506 (Taschenbuchausgabe der Hardcover-Version "Wenn der Nagekäfer zweimal klopft")</li>
    </ul>

    <h2>Weitere Informationen</h2>
    <ul>
      <li><a href="https://www.rieger-hofmann.de/alles-ueber-rieger-hofmann/wissen/nutzung- pflege/maehzeitpunkt-und-frequenz.html">https://www.rieger-hofmann.de/alles-ueber-rieger-hofmann/wissen/nutzung- pflege/maehzeitpunkt-und-frequenz.html</a></li>
      <li><a href="https://www.wildbiene.org/anlegen-einer-wildblumenwiese">https://www.wildbiene.org/anlegen-einer-wildblumenwiese</a></li>
      <li><a href="https://www.wildbiene.com/standard/content.php?am=11&as=0&am_a=3">https://www.wildbiene.com/standard/content.php?am=11&as=0&am_a=3</a></li>
      <li><a href="https://www.smagy.de/index.php?func=about">https://www.smagy.de/index.php?func=about</a></li>
      <li><a href="https://www.treffpunkt-vielfalt.de">https://www.treffpunkt-vielfalt.de</a></li>
      <li><a href="https://wiki.bayernflora.de/web/Hauptseite">https://wiki.bayernflora.de/web/Hauptseite</a></li>
      <li><a href="https://aktion-hummelschutz.de">https://aktion-hummelschutz.de</a></li>
      <li><a href="https://wildbienen.info">https://wildbienen.info</a></li>
      <li><a href="http://wildbienen.de">http://wildbienen.de</a></li>
    </ul>

    <h2>Gestaltungsanregungen</h2>
    <uL>
      <li><a href="https://biotopgarten.de">https://biotopgarten.de</a></li>
      <li><a href="https://naturschutz-im-garten.de">https://naturschutz-im-garten.de</a></li>
    </uL>

  </div>

</div>
