<div class="container is-max-desktop px-3 py-5">

  <div class="content">

    <button class="button is-primary is-outlined" [routerLink]="'/home'">Zurück</button>

    <h1 style="color: rgb(147,195,49);">Bunte Wiese Magdeburg</h1>

    <p>Unser Ziel: unsere Stadt wird wildbienenfreundlicher</p>
    <p>Unter „wildbienenfreundlich“ verstehen wir kurze Flugentfernungen, genügend Nahrung für Wildbienen und ihren Nachwuchs, das heißt Nektar und Pollen, sowie Plätze und Material für den Nestbau.</p>

    <h2>Unsere Arbeit</h2>

    <p>Hauptaugenmerk ist es, Akteure zu motivieren, zusätzliche Flächen wildbienenfreundlich umzugestalten. Das sind insbesondere mehr Blühwiesen für ein besseres Nahrungsangebot und für kürzere Flugentfernungen, um isolierte Habitate zu vermeiden.</p>
    <p>Die Dokumentation vorhandener Flächen dient dazu, die bisherigen Aktivitäten in der Stadt zu verfolgen und Lücken zu identifizieren.</p>
    <p>Ergänzend sammeln wir Erfahrungsberichte aus der Pflege von Blühwiesen und anderen Biotopen, gleichen sie mit wissenschaftlichen Erkenntnissen ab und bereiten diese Informationen auf.</p>
    <p>Wir laden dazu ein, mit dabei zu sein und mit einfachen Mitteln etwas Gutes für unsere Umwelt zu tun.</p>

    <h2>Warum in der Stadt?</h2>

    <h3>1. Grünflächen sind zwischen Gebäuden und Verkehrswegen überall vorhanden</h3>
    <p>Beete und Grünflächen in der Stadt sollen bislang – teilweise mittels exotischer Pflanzen – vorrangig ästhetischen Ansprüchen gerecht werden. Es gilt aber, ansprechende Ästhetik und ökologische Bedeutung zu verbinden, damit sich auch in der Stadt ein Gefühl von Natur einstellen kann und gleichzeitig Wildbienen und anderen Insekten mit einheimischen Kräutern, Stauden und Blumen eine Lebensgrundlage geboten wird.</p>

    <h3>2. In der Stadt gibt es ausgedehnte Rasenflächen</h3>
    <p>Das Umwandeln einer Grasfläche in eine Blühwiese mit einem anderen Mährhythmus ermöglicht es, dass Kräuter und Blumen Blüten und Samenstände entwickeln können und damit einer Vielzahl von Insekten Nahrung und Lebensraum bieten. Gezielt können Teilbereiche von Rasenflächen als Blumenwiese angelegt werden, um das Wachsen bestimmter Pflanzenarten zu forcieren. Unberührt bleiben sollen Rasenflächen bzw. Wiesen, die z.B. für Sport, Grillen, in der Sonne liegen, als Hundewiesen oder in anderer Form genutzt werden.</p>

    <h3>3. Die Stadt als konkurrenzfreier Raum zur leistungsorientierten Landwirtschaft</h3>
    <p>In der Stadt entfällt der Druck, die Flächen maximal für die Erzeugung landwirtschaftlicher Produkte ausnutzen zu müssen. Die Böden müssen nicht ständig bearbeitet und gedüngt werden. Ebenso entfällt der Einsatz von Pestiziden und Insektiziden. Unter diesen Voraussetzungen können Pflanzenfamilien wachsen, die Insekten anziehen. So können identitätsstiftende Naturerlebnisse mitten in der Stadt möglich werden.</p>

    <h3>4. Vorhandene, versiegelte Flächen als Reserveflächen für neues Grün</h3>
    <p>Zu großflächig sind viele Plätze und Verkehrsflächen für den Fußgängerverkehr in der Vergangenheit, entgegen der tatsächlich vorhandenen Frequenz, versiegelt worden. Diese Flächen verstärken die Aufheizung der Stadt in den heißen Sommermonaten. Um fit für den Klimawandel zu werden, ist mehr Grün zur Verbesserung des Mikroklimas erforderlich. Versiegelte Flächen stellen Reserveflächen für die Schaffung vieler neuer Blühflächen im Stadtgebiet dar. Automatisch wird damit die Vernetzung der Grünflächen untereinander gefördert, die es den Insekten ermöglicht, ihren Radius zu erweitern.</p>

    <h2>Pflege von Blühwiesen und Wildrasenflächen</h2>

    <p>Blühwiesen, Wildrasen und ökologisch wertvolle Brachflächen sollten nicht sich selbst überlassen werden. Um aus ihnen einen optimalen Lebensraum für Wildbienen zu machen, müssen das Überwintern der Brut, das Schlüpfen im nächsten Jahr und ein gutes Nahrungsangebot in Einklang gebracht werden.</p>
    <p>Die folgende Abbildung skizziert die Aufteilung einer fiktiven Rasenfläche in die Teilflächen A, B und C. Die Tabelle darunter enthält die Zeiträume, in denen die Mahd der Teilflächen stattfindet. Die Teilflächen A und B werden jeweils nur einmal pro Jahr gemäht, nach einem alternierenden Schema. Die umschließende Teilfläche C wird jeweils mitgemäht. Zu beachten ist ein Abstand von mindestens 8 Wochen zwischen der ersten und zweiten Mahd, sodass neue Blüten gebildet werden und ausreichend Nektar und Pollen zur Verfügung steht, wenn das zweite Mal gemäht wird.</p>
    <p>so wird gemäht:</p>
    <ul>
      <li>nicht mulchen, Schnittgut abräumen</li>
      <li>Schnitthöhe mindestens 10 cm, besser 15 cm bis 20 cm</li>
    </ul>
    <p>Neben anderen Insekten nutzen manche Wildbienen vertrocknete Stängel von Wiesenpflanzen zum Nisten oder übernachten. Darum sollten immer alte Pflanzenstängel mit der Brut für die nächste Generation stehen bleiben. Um sicherzustellen, dass alle Arten die Gelegenheit zum Schlüpfen haben, muss eine der Teilflächen A bzw. B für ein Jahr unangetastet bleiben.</p>
    <p>Die im Herbst gemähten Teilflächen A bzw. B und C der Wiese werden im nächsten Frühjahr schneller Blüten mit Nektar und Pollen hervor bringen und die Versorgung der neuen Wildbienen - Generationen sicherstellen.</p>
    <p><img src="/assets/images/Flaechen_und_Mahdzeiten.png"></p>
    <p>Die Pflege-Informationen basieren auf folgenden Quellen:</p>
    <ol>
      <li>Unterweger PA, Klammer J, Unger M, Betz O (2018) Insect hibernation on urban green land: a winter- adapted mowing regime as a management tool for insect conservation. BioRisk 13: 1–29. <a href="https://doi.org/10.3897/biorisk.13.22316">https://doi.org/10.3897/biorisk.13.22316</a></li>
      <li><a href="https://www.rieger-hofmann.de">https://www.rieger-hofmann.de</a>, Rubrik „Wissen“</li>
      <li>Reinhard Witt, Das Haarer Modell, ISBN 978-3-9818573-4-4</li>
    </ol>

    <h2>Informationen beitragen</h2>
    <p>Senden Sie uns Informationen über wildbienenfreundliche Flächen, die noch nicht kartiert sind oder aktuelle Informationen zu schon kartierten Flächen. Idealerweise bekommen wir folgende Daten:</p>
    <ul>
      <li>Foto mit Angabe des Datums und des Fotografen<br>Die Fotos zeigen idealerweise die Umgebung im Hintergrund, sodass man erkennen kann, wo genau sich die Fläche befindet</li>
      <li>Eigentümer bzw. Bewirtschafter der Fläche</li>
      <li>Skizze der Fläche auf einer Luftaufnahme eines bekannten Kartendienstes</li>
      <li>Adresse (Navigationsadresse)</li>
      <li>Lagebeschreibung, falls die Adresse nicht eindeutig ist</li>
      <li>GPS-Koordinaten</li>
      <li>ergänzende Information, z.B. beobachtete Insekten, Mahd-Termine, Pflanzen</li>
    </ul>

    <h2>Die Information auf dieser Seite wurden von folgenden Autoren zusammengestellt:</h2>
    <p>Bunte Wiese Magdeburg ist eine private Initiative engagierter MagdeburgerInnen in enger Zusammenarbeit mit dem Kreisverband von Bündnis 90 / die Grünen.</p>
    <p>Autoren: Benjamin Schlosser, Dr. Karolin Schneider, Doris Tello</p>

  </div>

</div>
